<div *ngIf="callout.error">
    {{callout.message}}
</div>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <input name="displayname" id="displayname" [(ngModel)]="model.displayname" #displayname="ngModel" type="text" placeholder="Username" required>
    <span *ngIf="displayname.value && displayname.value.length < 5 && (displayname.dirty || displayname.touched)">
        Enter a username
    </span>

    <input name="email" id="email" [(ngModel)]="model.email" #email="ngModel" type="email" placeholder="Email"  required email>
    <span *ngIf="email.invalid && (email.dirty || email.touched)">
        Invalid email
    </span>
    <input name="password" id="password" [(ngModel)]="model.password" #password="ngModel" type="password" placeholder="Password" required>
    <input name="confpassword" id="confpassword" [(ngModel)]="model.confpassword" #confpassword="ngModel" type="password" placeholder="Confirm password" required>
    <span *ngIf="((password.touched || password.dirty) && (confpassword.dirty || confpassword.touched)) && password.value != confpassword.value">
        Passwords not matching
    </span>
    <button type="submit" [disabled]="!registerForm.form.valid">Submit</button>
</form>