<div class="todo-item-wrapper pos:r">
    <div class="todo-item">
        <span class="title">{{item.title}}</span>
        <a class="show-details" (mouseenter)="showTease = !showDetails" (mouseleave)="showTease = false" (click)="showDetails = !showDetails">Details</a>
        <div class="d:f a-i:c">
            <div class="checkbox-wrapper">
                <input id="{{item.key}}" [(ngModel)]="item.done" type="checkbox" value="item.done" (ngModelChange)="Update()" />
                <label for="{{item.key}}"><div></div></label>
            </div>
            <a class="remove" *ngIf="item.canedit" (click)="Remove()"></a>
        </div>
    </div>
    <div class="details pos:a top:0 left:0" [class.show]="showDetails" [class.tease]="showTease">
        <div class="info">
            <span class="by">Created by: <strong>{{item.by}}</strong>, <small>At: {{item.created | date:"yy-MM-dd HH:mm"}}</small></span>
            <span class="updated">Updated by: <strong>{{item.doneby}}</strong> <small>At: {{item.updated | date:"yy-MM-dd HH:mm"}}</small></span>
        </div>
    </div>
</div>